name: Generate Snake

on:
  # Roda automaticamente a cada 12 horas
  schedule:
    - cron: "0 */12 * * *" 
  
  # Permite rodar manualmente na aba "Actions" para testar na hora
  workflow_dispatch:
  
  # Roda em todo push na branch master/main
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          # Nome do usuário para gerar o gráfico
          github_user_name: ${{ github.repository_owner }}
          
          # Onde salvar os arquivos SVG (normal e dark mode)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
